## EDA

In [45]:
#import libraries
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [46]:
#import the tables
movieDF = pd.read_csv("files/movie.csv")
ratingDF = pd.read_csv("files/rating.csv")

#check nulls
print(movieDF.isnull().sum())
print(ratingDF.isnull().sum())

movieId    0
title      0
genres     0
dtype: int64
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [47]:
#merge rating dataframe and movie dataframe
movieRating = movieDF.merge(ratingDF)
movieRating.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,2009-01-02 01:13:41

In [61]:
#attempt to install the libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt


from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import OneHotEncoder

In [62]:
X=movieRating.copy().drop(columns=['title', 'genres', 'timestamp', 'userId']).values
y=movieRating['title'].values
#split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 32)

In [50]:
#reformat the values of the genre
movieRating['genres'] = movieRating['genres'].str.replace('|',',')
movieRating['genres'] = movieRating['genres'].tolist()

C:\Users\ronie\AppData\Local\Temp/ipykernel_2668/766991987.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movieRating['genres'] = movieRating['genres'].str.replace('|',',')

In [55]:
# movieRating.genres = movieRating.genres.apply(lambda x: eval(x))

# exploded_df = df.explode(column='genres')
# pd.get_dummies(exploded_df, columns=['genres']).groupby('title', as_index=False).sum()

In [63]:
#implement the knn classifier
knn5 = KNeighborsClassifier(n_neighbors = 5)
knn1 = KNeighborsClassifier(n_neighbors = 1)

In [57]:
movieRating

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),"Adventure,Animation,Children,Comedy,Fantasy",3,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),"Adventure,Animation,Children,Comedy,Fantasy",6,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),"Adventure,Animation,Children,Comedy,Fantasy",8,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),"Adventure,Animation,Children,Comedy,Fantasy",10,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),"Adventure,Animation,Children,Comedy,Fantasy",11,4.5,2009-01-02 01:13:41
...,...,...,...,...,...,...
20000258,131254,Kein Bund für's Leben (2007),Comedy,79570,4.0,2015-03-30 19:32:59
20000259,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,79570,4.0,2015-03-30 19:48:08
20000260,131258,The Pirates (2014),Adventure,28906,2.5,2015-03-30 19:56:32
20000261,131260,Rentun Ruusu (2001),(no genres listed),65409,3.0,2015-03-30 19:57:46
20000262,131262,Innocence (2014),"Adventure,Fantasy,Horror",133047,4.0,2015-03-30 20:39:26

In [64]:
#Predict 
knn5.fit(X_train, y_train)
knn1.fit(X_train, y_train)

In [ ]:
y_pred_5 = knn5.predict(X_test)
y_pred_1 = knn1.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy with k=5", accuracy_score(y_test, y_pred_5)*100)
print("Accuracy with k=1", accuracy_score(y_test, y_pred_1)*100)

Accuracy with k=5 27.398458340349908
Accuracy with k=1 33.14158253111059